// COLOR

$color__nav-bck: #f2f0eb;
$color__nav-main: #1f2b59;
$color__nav-primary: #3e47dd;
$color__nav-secondary: #7b61ff;
$color__nav-item: #beb1a2;
$color__nav-item2: #dbd2c8;

$color__input: #f1f5f8;
$color__input-dark: #e7e9eb;

// FONT
$font__main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font_secondary: Arial, Helvetica, sans-serif;

// DISATNCE

$padding_mobile: 0 2rem;
